<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ministerial_role.name %>
</p>

<%= link_to 'Edit', edit_ministerial_role_path(@ministerial_role) %> |
<%= link_to 'Back', ministerial_roles_path %>
