<table class="table table-striped">
  <tr>
    <th>E-mail</th>
    <th>Igreja</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.chruch_id == nil ? '' : Chruch.find(user.chruch_id).name %></td>
      <td><%= link_to t('destroy'), '/users/'+user.id.to_s, method: :delete, data: { confirm: 'you_sure?' } %></td>
      <td></td>
    </tr>
  <% end %>
</table>